@inherits LayoutComponentBase
@using StoreApp.Client.Components.AI
@using StoreApp.Client.Components

<div class="store-layout">
    <StoreNavMenu />
    
    <main class="store-main">
        @Body
    </main>
</div>

@* Customer AI Chat Widget *@
<CustomerChatWidget />

@* Tawk.to Chat Widget - Only for Store/Customer pages *@
<TawkToWidget />

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

