@page "/admin/home"
@using StoreApp.Client.Components.Auth

<AuthGuard AllowedRoles="@(new List<string> { "admin" })">
    <PageTitle>Dashboard - Admin</PageTitle>
    
    @* Nội dung trang admin *@
    <h1>Admin Dashboard</h1>
    
</AuthGuard>